body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*Adding in some new spooky colors for Halloween*/

#header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #ff8533;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

#header nav a {
  display: inline-block;
  font-weight: bold;
  padding: 20px 25px;
  cursor: pointer;
  color: black;
}

#header nav a:hover {
  background: black;
  color: #ff8533;
}
